@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.tumumi{
width: 1440px;
height: 780px;
padding-top: 91px;
padding-left: 122px;
background: #EFEFEF;
display: flex;
flex-direction: column;
}
.t{
padding-right: 331px;
width: 987px;
height: 93px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 101.38%;
/* or 56px */
color: #000000;
}
.tmetn{
    padding-left: 45px;
    padding-top: 40px;
    padding-right: 46px;
    width: 700px;
    height: 203px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    color: #000000;
}
.tse{
width: 190px;
height: 169px;}

.yekaterina{
    display: flex;
    flex-direction: row;
    padding-left: 26px;
    position: absolute;
    top: 600px;
}
.tauthor{width: 353px;
height: 59px;
padding-left: 30px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 30px;
color: #000000;
}
.gorek{
    display: flex;
    flex-direction: column;
}
.tfb{
width: 32px;
height: 31px;
padding-left: 30px;
}
.tdiv{
padding-top: 34px;
width: 791px;
height: 451px;
background: #FFFFFF;
box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}




.tsec{
    width: 190px;
height: 169px;
padding-left: 26px;
padding-bottom: 29px;
}
.tusec{ 
    width: 1030px;
    height: 780px;
    padding-top:121px ;
    padding-right:410px ;
    padding-left: 122px;
    padding-bottom:185px ;
    background: #9DC9C8;
}
.thead{
width: 908px;
height: 66px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 101.38%;
/* or 56px */
color: #000000;
}
.tsto{
    width: 170px;
height: 32px;
padding-top: 54px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 101.38%;
/* or 25px */
color: #000000;
}
.tpul{
width: 481px;
height: 181px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 80px;
position: absolute;
top: 1175px;
color: #000000;
}
.tcedvel{
    display:flex;
    flex-direction: row;
    padding-top: 200px;
    padding-right:800px;
justify-content: space-between;
width: 650px;
}
.tf{
    width: 294px;
    height: 32px; 
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 101.38%;
}
.tr{
    width: 294px;
height: 70px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 101.38%;
}
.tun{
    width: 1440px;
height: 390px;
background: #000000;
padding-left: 122px;
padding-bottom: 23px;
}
ul{
    color: white;
    line-height: 2;
    list-style-type: none;
}
li{
    width: 280px;
height: 40px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 101.38%;
}
.tbas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 185px;
    padding-top: 59px;
}
.tlogo{
    padding-bottom: 50px;
    width: 115px;
    height: 68px;
}
.oglan{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}
.tson{
    width: 230px;
height: 40px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 101.38%;
/* or 18px */
padding-top: 146px;

color: #FFFFFF;

}